/* .book-form {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
*/

.book-form {
  display: grid;
  grid-template-columns: 2fr 10fr;
  position: absolute;
  width: 400px;
}

.books-container {
  height: 600px;
}

.hidden {
  display: none;
}
